extends layout

block content
	script(type='stylesheet').
		.btn-margin-left {
			margin-left: 4px;
		}

	script(type='text/javascript').
		var count = 0;
		// Set dropdown text when selected 
		// IMPT: .ready function is necessary for all JQuery codes
		//   	 to avoid manipulating elements before the DOM tree is created                                               
		$(document).ready(function(err) {
			// Fill in data in edit mode
			
			console.log('edit:',#{edit});
			if (#{edit}) {
				
				// Fill customer info
				var data = !{JSON.stringify(result)};
				var plist = !{JSON.stringify(plist)};
				var data = data[0];
				$('#realname').val(data.customer);
				$('#contact').val(data.customer_contact);
				$('#address').val(data.customer_address);
				// Select delivery staff
				var sid = data.staff_id;
				$('#staff'+sid).attr('class','btn btn-primary btn-margin-left');
				$('#staff_value').val(sid);
				// Create dropdown list
				var items = data.items;
				//alert(plist[(items[0].pid -1)]['name']);
				for(var i=0;i<items.length;i++){
					alert(i);
					if(i == 0){
						//change first row content
						$('.dropdown-toggle').text(plist[(items[i].pid -1)]['name']);
						//change quantity field
						$('#quantity').val(items[i]['qty']);
						//change hidden field
						$('#hide').attr('name',"PRO-"+items[i]['pid']);
						$('#hide').attr('value',items[i]['qty']);
					}else{
						var create_row = $('#row1').clone(true);
						create_row.find('.dropdown button').text(plist[(items[i].pid -1)]['name']);
						// Reset all fields
						create_row.find('.dropdown ul input').attr('name',"PRO-"+items[i]['pid']);
						create_row.find('.dropdown ul input').attr('value',items[i]['qty']);
						create_row.find('.form-group input').val(items[i]['qty']);
						// Add cloned row to the DOM tree
						$('#productPanel').append(create_row);
					}
				};

			};
			

			// When select a dropdown item
			$('.dropdown-menu a').click(function(){
				var selText = $(this).text();
				console.log("I'm running! Don't kill me! QAQ");
				$(this).parent().parent().find('.dropdown-toggle').text(selText);
				// Change the hidden field's 'name' attribute
				$(this).parent().find('#hide').attr('name','PRO-' + $(this).attr('tabindex'));

			});

			// Change hidden field's value when input quantity
			$('#quantity').keyup(function(){
				$(this).parent().parent().find('.dropdown').find('.dropdown-menu').find('#hide').attr('value',$(this).val());
			});

			// Clone the DOM subtree for new rows in table
			$('#addproduct').click(function(){
				var create_row = $('#row1').clone(true);
				create_row.find('.dropdown button').text('Select a product');
				// Reset all fields
				create_row.find('.dropdown ul input').attr('name','na');
				create_row.find('.dropdown ul input').attr('value','0');
				create_row.find('.form-group input').val(0);
				// Add cloned row to the DOM tree
				$('#productPanel').append(create_row);
				// TODO change attributes
			});

			// Remove a row from table 
			$('.delete').click(function(){
				// pevent deleting the first row
				if ($('.dropdown-menu').length != 1)
					$(this).parent().parent().remove();
			});

			// When select delivery staff
			$('#selstaff button').click(function(){
				// Reset all color
				// TODO:change color according to individual status
				$('#selstaff button').attr('class','btn btn-success');
				// highlight selected button(blue)
				$(this).attr('class','btn btn-primary');
				// Change value in the hidden field
				$('#selstaff input').attr('value',$(this).attr('sid'));
			});
		});
		

	div(class='container-fluid')
		//div(class='page-header')
			h1 Add Order
		form(class='form-group',method='POST')
			if edit
				input(type='hidden',name='edit',value='true')
			else
				input(type='hidden',name='edit',value='false')
			div(class='panel panel-default')
				div(class='panel-heading')
					h2(class='panel-title') Order List
				div(class='panel-body',id='productPanel')
					div(class='container-fluid',id="row1")
						div(class='dropdown')
							button(class='col-md-3 btn btn-default dropdown-toggle' type='button' id='dropdownMenu1' data-toggle='dropdown' aria-expanded='true')
								|Select a product
								span(class='caret')
							ul(class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu1')
								if plist
									- for (var i=0; i<plist.length; i++)
											li(role='presentation')
											a(role='menuitem' tabindex=plist[i].product_id href='#')= plist[i].name
								else
									li(role='presentation')
										a(role='menuitem' tabindex='-1' href='#')
											| ERR:NO PRODUCT
								input(type='hidden',name='na',value="0",id='hide')

						div(class='form-group col-md-2')
							label(class='sr-only' for='quantity') Quantity
							input(type='number',class='form-control',id='quantity',placeholder='quantity',value='')

						div(class='col-md-2')
							// Different id refers to different line! Remember to change when duplicate.
							button(type='button',class='btn btn-default delete',id='d1') Delete
				div(class='container-fluid')
					button(type='button',class='btn btn-primary',style='margin-left: 15px;',id='addproduct') Add
				h3

			div(class='panel panel-default')
				div(class='panel-heading')
					h2(class='panel-title') Delivery Staff
				div(class='panel-body',id='selstaff')
					if staff
						- for (var i=0; i<staff.length; i++)
							button(type="button",class="btn btn-success btn-margin-left",sid=staff[i].staff_id,id='staff'+staff[i].staff_id)= staff[i].realname
							span
						input(type='hidden',name='staff',value="0",id='staff_value')
					else
						p ERR: NO DELIVERY MAN IN RECORD

			div(class='panel panel-default')
				div(class='panel-heading')
					h2(class='panel-title') Customer Information
				div(class='panel-body')
					div(class='form-group')
						label(for='realname',class='control-label') Name
						input(type='text',class='form-control',name='name',placeholder='',id='realname')
					div(class='form-group')
						label(class='control-label',for='contact') Contact Number
						input(type='text',class='form-control',name='contact',placeholder='',id='contact')
					div(class='form-group')
						label(for='address',class='control-label') Address
						textarea(class='form-control',rows='3', name='address',id='address')

			button(type='submit',class='btn btn-default',value='Submit') Submit