extends layout

block content

	script(src='/static/Chart.min.js')
	style.
		.panel-slim {
			padding-bottom: 0px;
			padding-top: 5px;
			padding-left: 0px;
			padding-right: 20px;
		}

		.digit{
			margin-top:0px;
			margin-bottom:0px;
		}

		.text-sub{
			color: rgb(119, 119, 119);
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 15px;
		}

		.stat-title{
			margin-bottom:5px;
			margin-top:30px;
			border-bottom-width:0px;
		}

		.label-a{
			padding-bottom: 5px;
			padding-top: 5px;
			padding-left: 10px;
			padding-right: 10px;
		}

	script.
		$(document).ready(function(err) {
			var data = {
					labels: !{JSON.stringify(date_list)},
					datasets: [
						{
							label: "My First dataset",
							fillColor: "rgba(220,220,220,0.2)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(220,220,220,1)",
							data: !{JSON.stringify(order_count)}
						},
					
					]
				};
			var options = {
							 bezierCurve : false,
							};
			var ctx = $("#statistics").get(0).getContext("2d");
			var LineChart = new Chart(ctx).Line(data, options);
		});


	div(class='container col-lg-3 col-md-3')
		div(class="panel panel-default")
			div(class="panel-heading") Orders
			div(class="panel-body panel-slim")
				- var len = order_count.length;
				h2(class='text-right digit')= order_count[len-1]
				p(class='text-right text-sub')= order_count[len-2] +', ' +(order_count[len-1]-order_count[len-2])/order_count[len-2] *100 + '%' 

	div(class='container col-lg-3 col-md-3')
		div(class="panel panel-default")
			div(class="panel-heading") Sales
			div(class="panel-body panel-slim")
				h2(class='text-right digit')= "$ " +sales_today.toFixed(2)
				p(class='text-right text-sub')= "$ "+ sales_yesterday.toFixed(2) +', ' +(sales_today-sales_yesterday)/sales_yesterday *100 + '%'

	div(class='container col-lg-3 col-md-3')
		div(class="panel panel-default")
			div(class="panel-heading") Revenue
			div(class="panel-body panel-slim")
				h2(class='text-right digit') $-
				p(class='text-right text-sub') $-, -%

	div(class='container col-lg-3 col-md-3')
		div(class="panel panel-default")
			div(class="panel-heading") Taxes
			div(class="panel-body panel-slim")
				h2(class='text-right digit') $-
				p(class='text-right text-sub') $-, -%

	div(class='container col-lg-5 col-md-5')
		div(class="page-header stat-title")
			h4(class='stat-title') Recent Orders
		//
			ul(class="nav nav-pills")
				li(role="presentation" class="active")
					a(href="#" ) All
				li(role="presentation")
					a(href="#" ) Delivered
				li(role="presentation")
					a(href="#" ) Undelivered

		table(class='table table-hover')
				tbody
					tr
						th Developing Feature
						//
							td 1
							td 2222
							td test

	div(class='container col-lg-7 col-md-7')
		div(class="page-header stat-title")
			h4(class='stat-title') Statistics
				small  /orders in recent 10 days
		canvas(id="statistics" width="550" height="250")
