extends layout

block content
	style.
		BODY {background:none transparent;}

		.btn-staff{
			margin-left: 5px;
		}

		.block-staff{
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.add-top{
			padding-top: 15px;
			padding-left: 0px;
		}

		.add-top-sm{
			padding-top: 5px;
		}

		.popover-hide{
			display:none;
		}

		.inline {
			display:inline;
		}

		.text-sub{
			color: rgb(119, 119, 119);
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 15px;
		}

		.staff-title{
			margin-bottom:5px;
			margin-top:30px;
			border-bottom-width:0px;
		}

		.inner-form{
			margin-left: 10px;
		}

		.popover {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 101000;
			display: none;
			max-width: 400px;
			padding: 1px;
			text-align: left;
			white-space: normal;
			background-color: #ffffff;
			border: 1px solid #ccc;
			border: 1px solid rgba(0, 0, 0, 0.2);
			-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
					border-radius: 6px;
			-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
					box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			-webkit-background-clip: padding-box;
				-moz-background-clip: padding;
					background-clip: padding-box;
		}

		.test{
			position: fixed;
			top: 15px;
			right: 15px;
		}

		.non-clickable{
			pointer-events: none;
		}

		.iframe-fix{
			position: absolute;
			top: 0px;
			left: 0px;
		}

		.add-left{
			margin-left: 8px;
		}

	script.
		$(document).ready(function(err) {
			$('.modal-trigger').leanModal();
			// get the actual width+height of wells
			// setup iframe accordingly
			var width = $('.well:first').attr('offsetWidth');
			var height = $('.well:first').attr('offsetWidth');
			$('.staff-well').css('width', width);
			$('.staff-well').css('height', height);
			// set transparency
			
			// tab init
			$(function () {
				$('.selTab a:first').tab('show');
			});

			
			$('.well').click(function () { 
				var temp = $(this).attr('sid');
				//
				// Important Note:
				//---------------------------
				// Popover function will not update its 'content' once it has been initialised
				// Thus it is important to register a new event lister with new content every time when clicking
				//      *it is more important to unbind all jquery events ahead otherwise multiple click event will confuse jquery
				//
				// In memory of my precious Saturday 

				// unregister previous event listener
				$(this).off( "click");

				$(this).popover({
					trigger: 'click',
					html:true,
					content: function(){
						return $('.pop'+temp).html();
					}
				});

				$(this).popover('show');

			});
			
			$('#btn-add').click(function(){
				$(location).attr('href','/staff/add');
				
			});


		});
	
	if message.length>0
		script(type='text/javascript').
			Materialize.toast("#{message}", 4000);
	else
		script(type='text/javascript').
			Materialize.toast("Click on any staff to get more infomation", 4000);

	div(class='container-fluid')
		ul(class="collapsible popout" data-collapsible="accordion")
			- for(var i=1; i<staff_list.length;i++)
				div(id="modal"+i class="modal")
					div(class="modal-content")
						h4 Warning
						p All orders that have been assigned to this staff will not be modified when the account is deleted. You may need to mannually reallocate the delivery staff for each of these orders.

					div(class="modal-footer")
						a(href="/staff/delete/"+staff_list[i].staff_id class=" modal-action modal-close waves-effect waves-green btn-flat") Continue
						a(href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat") Back
				li
					div(class="collapsible-header")
						i(class="mdi-social-person-outline small")= staff_list[i].realname
					div(class="collapsible-body")

						div(class='container-fluid')
							div(class='col-lg-2 col-md-2')
								h5 Username
								p(class='text-sub')= staff_list[i].username
							div(class='col-lg-2 col-md-2')
								h5 Contact
								p(class='text-sub')= staff_list[i].contact
							div(class='col-lg-2 col-md-2')
								h5 Total Delivered
								p(class='text-sub')= staff_list[i].de_count
							div(class='col-lg-4 col-md-4')
								h5 Registered on
								p(class='text-sub')= staff_list[i].reg_date
							div(class='container-fluid col-lg-2')

								a(class="mdi-content-create" href="/staff/pw/"+staff_list[i].username) Password
							div(class='container-fluid col-lg-2')
								a(class='mdi-content-clear modal-trigger' href="#modal"+i) Delete
							

						div(class='container-fluid')
							div(class='container')
								h5 Now Delivering
				
						div(class='container-fluid')
							table(class="table table-hover inner-form")
								//if activity.length!=0
								- for(var j=0;j<activity[i].length;j++)
									tr
										td= activity[i][j]['tracking_id']
										if (activity[i][j]['status'] == 'r')
											td
												span(class="label label-warning") Undelivered
										if (activity[i][j]['status'] == 's')
											td
												span(class="label label-success") Success
										if (activity[i][j]['status'] == 'p')
											td
												span(class="label label-primary") Delivering
										td= activity[i][j]['created']
			li
				div(class="collapsible-header")
						i(class="mdi-social-person-add")= 'Add'
				div(class="collapsible-body")
					form(class='form-group',method='POST',action='/staff/add')

						div(class='panel panel-default')
									div(class='panel-heading')
										h2(class='panel-title') Add New Staff
									div(class='panel-body')
										//if (message.length >0)
											div(class="form-group")
												div(class="alert alert-danger")= message
										
										div(class='row')
											div(class='form-group')
												div(class='col-lg-3')
													label(for='realname',class='control-label') Username
													input(type='text',class='form-control',name='username',placeholder='',id='realname',required='')
													span
										div(class='row')
											div(class='form-group add-top')
												div(class='col-lg-3')
													label(for='realname',class='control-label') Password
													input(type='password',class='form-control',name='password',placeholder='',id='realname',required='')
													span

										div(class='row')
											div(class='form-group add-top')
												div(class='col-lg-3')
													label(for='realname',class='control-label') Confirm Password
													input(type='password',class='form-control',name='con_password',placeholder='',id='realname',required='')
													span

										div(class='row')
											div(class='form-group add-top')
												div(class='col-lg-3')
													label(for='realname',class='control-label') Name
													input(type='text',class='form-control',name='name',placeholder='',id='realname',required='')
													span
										div(class='row')
											div(class='form-group add-top')		
												div(class='col-lg-3')
													label(class='control-label',for='contact') Contact Number
													input(type='text',class='form-control',name='contact',placeholder='',id='contact',required='')
													span
										div(class='row')
											button(type='submit',class='btn btn-default add-left',value='Submit') Submit
											


