extends layout

block content
	style.
		.prompt-font{
			color: #777;
			font-family: Helvetica,Arial,sans-serif;
			margin-left:-10px;
		}

		.title-font{
			color: #777;
			font-family: Helvetica,Arial,sans-serif;
		}

		.add-padding{
			padding-bottom: 15px;
			padding-top: 20px;
		}

		.add-top{
			margin-top:30px;
		}

		.add-bottom{
			margin-bottom:20px;
		}

	script(type='text/javascript').
		$(document).ready(function(err) {
			$('tr').on('click', function(e){
				var tid = $(this).attr('tid');
				setTimeout(function(){
					$.get('/undelivered/detail/'+tid, function(data) {
						
						var result = JSON.parse(data);
						if($('#'+tid).find('h5:eq(0)').text()=='Loading order infomation'){
							$('#'+tid).find('h5:eq(0)').text("Created On");
							$('#'+tid).find('h5:eq(1)').text(new Date(result['created']));

							var div1 = $("<div class='col-lg-2 col-md-2 add-bottom'>");
							div1.append("<h5 class='title-font'> Customer Name </h5>");
							div1.append("<h5>"+ result['customer']+"</h5>");
							$('#'+tid).append(div1);

							var div2 = $("<div class='col-lg-2 col-md-2 add-bottom'>");
							div2.append("<h5 class='title-font'> Contact No. </h5>");
							div2.append("<h5>"+ result['customer_contact']+"</h5>");
							$('#'+tid).append(div2);

							var div3 = $("<div class='col-lg-7 col-md-7 add-bottom'>");
							div3.append("<h5 class='title-font'> Address </h5>");
							div3.append("<h5>"+ result['customer_address']+"</h5>");
							$('#'+tid).append(div3);

							var icon = $('#'+tid).find('div:eq(0)').empty();;
							icon.append("<i class='mdi-action-done green-text large'>");

							//$('#'+tid).append("<h5>CustomerName</h5><small>"+result['customer'] +"</small>");
							//$('#'+tid).html("<div class='container-fluid add-padding'>");
						}
						
					});
				}, 500);
			});


			$(document).on('click', '.delete', function () {
				var index = $(this).attr('clickindex');
				window.location.replace("/undelivered/delete/"+index);
			});

			$(document).on('click', '.edit', function () {
				var index = $(this).attr('clickindex');
				window.location.replace("/addorder/edit/"+index);
			});

			$(document).on('click', '.invoice', function () {
				var index = $(this).attr('clickindex');
				window.open("/invoice/"+index);
			});

		});

	div(class='container-fluid')
		if message.length> 0
			if message == "Delete success."
				div(class="form-group")
					div(class="alert alert-success")= message
			else
				div(class="form-group")
					div(class="alert alert-danger")= message
	//
		div(container-fluid)
		ul(class="collapsible" data-collapsible="accordion")
			li
				div(class="collapsible-header")
					i(class="mdi-image-filter-drama") First
				div(class="collapsible-body")
					p Lorem ipsum dolor sit amet.
			li
				div(class="collapsible-header")
					i(class="mdi-image-filter-drama") Second
				div(class="collapsible-body")
					p Lorem ipsum dolor sit amet.

	ul(class="collapsible" data-collapsible="accordion")
		div(class='container-fluid')
			div(role='tabpanel',class='tab-pane fade active in',id='orders',aria-labelledby='orders-tab')
				table(class='table table-hover')
					thead
						tr
							th ID/Tracking Code
							th Status
							th Product(s)
							th Total(SGD$)
							th Customer
							th Delivery
							th Operations
					tbody
						if result.length != 0
							- for (var i=0; i<result.length; i++)
								tr(data-toggle="collapse" data-target="#collapseme"+i tid=result[i]['tracking_id'])
									th(scope='row')= result[i]['order_id'] + '/' + result[i]['tracking_id']
									if (result[i]['status']=='r')
										th
											span(class="label label-warning") Undelivered
									if (result[i]['status']=='p')
										th
											span(class="label label-info") Delivering	
									td= result[i]['items']
									td= '$ ' + result[i]['total']
									td= result[i]['customer']
									td= result[i]['staff']
									td
										//button(type="button",class="btn btn-default",aria-label="Left Align")
										span(class="glyphicon glyphicon-pencil edit",aria-hidden="true",clickindex=result[i]['order_id'])
										span(class="glyphicon glyphicon-indent-left invoice",style='margin-left: 10px;',aria-hidden="true",clickindex=result[i]['tracking_id'])
										span(class="glyphicon glyphicon-remove delete",style='margin-left: 10px;',aria-hidden="true",clickindex=result[i]['order_id'])
								
								tr(id="collapseme"+i class="collapse out")
									td(colspan=7)
										div(class='container-fluid add-padding' id=result[i]['tracking_id'])
											div(class='col-lg-1 col-md-1')
												div(class="preloader-wrapper small active")
													div(class="spinner-layer spinner-yellow-only")
														div(class="circle-clipper left")
															div(class="circle")
														div(class="gap-patch")
															div(class="circle")
														div(class="circle-clipper right")
															div(class="circle")
											div(class='col-lg-11 col-md-11 add-bottom')
												h5(class='title-font') Loading order infomation
												h5 
												
											//					
												div(class='col-lg-11 col-md-11 add-bottom')
													h5(class='title-font') Created On
													h5 2015-11-11134 412342134231412412341
												div
													div(class='col-lg-1 col-md-1 add-bottom')
													
													div(class='col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1 add-bottom')
														h5(class='title-font') Customer
														h5 CustomerName
													div(class='col-lg-2 col-md-2 add-bottom')
														h5(class='title-font') Contact
														h5 11111
													div(class='col-lg-7 col-md-7 add-bottom')
														h5(class='title-font') Address
														h5 Dunman High School Hostel, 61 Kampong Arang Road, Singapore 438181
											//div
												div(class='col-lg-1 col-md-1')
													
												div(class='col-lg-2 col-md-2')
													h5(class='title-font') Staff
													h5 AAB
												div(class='col-lg-2 col-md-2')
													h5(class='title-font') Staff Contact
													h5 111111
												
													div(class='col-lg-11 col-md-11')
													h5(class='prompt-font') Loading order infomation


												
						else
							th(scope='row') NO UNDELIVERED ORDER

